html{
    box-sizing: border-box;
}

body {
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: cornflowerblue;
    flex-direction: row;
    align-content: center;
    min-height: 800px;
} 

.container {
    display: flex;
    flex-direction: row; 
}

.fill {
    background-image: url('/image.png');
    height: 150px;
    width: 150px;
    cursor: pointer;
}

.empty {
    height: 150px;
    width: 150px;
    background: white;
    margin: 10px;
    border:  solid 3px black;
    padding: 0;

}

.hold {
    border: solid 5px #ccc;
}

.hovered {
    background-color: #333;
    border-color: white;
    border-style: dashed;
}

@media(max-width: 800px) {
    body {
        flex-direction: column;
        min-height: 800px;
} 
.container {
    flex-direction: column;
}
.empty {
    height: 120px;
    width: 120px;
}
.fill {
    height: 120px;
    width: 120px;
}
}